<% if user_signed_in? %>
  <div class="search-area">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" class="search-input" placeholder="Search">
  </div>
  <h2>Feed</h2>
  <%# <h3 class="test_lang">Welcome <%= current_user.username %>
<% end %>


