<% if user_signed_in? %>
  <input type="text" class="search-input" placeholder="Search">
  <h2>Feed</h2>
  <h3 class="test_lang">Welcome <%= current_user.username %></h3>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'action-link' %><br />
<% end %>


